.crowdin.yml export-ignore
.gitattributes export-ignore
.gitignore export-ignore
images export-ignore
.kakrc export-ignore
.mailmap export-ignore
release.sh export-ignore
stylua.toml export-ignore
todo-bz.md export-ignore
TODO.md export-ignore
.vscode export-ignore
